<!DOCTYPE html>
<html>  
    <head>
        <title>About Page</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="/js/script.js"></script>
        <link rel="icon" href="/picture/icon.png">

    </head>
    <body>
        <div class="main-content">
        {{>header}}
            <p>Hello! My name is chirag. This website is created to learn node API's and deployments.</p>
            <img class="photo" src="/picture/{{picture}}">
            </div>
        {{>footer}}
    </body>
</html>