<!DOCTYPE html>
<html>
    <head>
        <title>Error Page</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="/js/script.js"></script>
        <link rel="icon" href="/picture/icon.png">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>