<!DOCTYPE html>
<html>  
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
        <link rel="icon" href="/picture/icon.png">
    </head>
    <body>
        <div class="main-content">
            <div class="header">
                {{>header}}
            </div>
            
            <h2>Get your weather here</h2>  
            <form>
                <input placeholder="Enter the address">
                <button>Search</button>
            </form>

            <p id="message1" class="message"></p>
            <p id="message2" class="message"></p>

        </div>

        

        <script src="/js/script.js"></script>
        {{>footer}}
    </body>
</html>